[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[user]
	name = Rebecca Turner
	email = 637275@gmail.com
[push]
	default = simple
[credential]
	helper = manager
[core]
	editor = vim
	autocrlf = false
	excludesfile = ~/.gitignore_global
[merge]
	conflictstyle = diff3
	tool = vimdiff
[diff]
	algorithm = minimal
	tool = vimdiff
[difftool]
	prompt = false
[rerere]
	enabled = true
[alias]
	last = log -1 HEAD
	graph = log --format=\"%C(cyan)%H%Creset%n%C(red) %an %C(reset)%s %ar\" --graph
	st = status --short --branch
	a = add . --verbose
	c = "commit --branch -m "
	d = "difftool --extcmd='C:/WINDOWS/gvimdiff.bat'"
	changes = diff --cached
	abandon = checkout HEAD -- 

	enchant = add
	brew = commit
	pray = commit
	bless = init
	spells = status
	divine = diff
	grimoire = log
	necronomicon = log
	obliterate = reset
	sacrifice = reset --hard
	banish = rm
	excorcise = rm --cached
	curse = checkout
	mix = merge
	conjure = pull
	cast = push
	smite = push --force
	transcend = push
	runes = show
	teleport = mv
	obtain = fetch
	summon = clone
	repent = checkout -
