[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[user]
	name = Rebecca Turner
	email = rbt@sent.as
[push]
	default = simple
	followTags = true
[credential]
	helper = libsecret
	modalPrompt = false ; consider flipping this if you're having trouble...
	canFallBackToInsecureStore = true
[core]
	editor = nvim
	autocrlf = false
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	eol = lf
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	conflictstyle = diff3
[diff]
	algorithm = patience
[difftool]
	prompt = false
[rerere]
	enabled = true
[alias]
	last = log -1 HEAD
	graph = log --graph --oneline --decorate --all
	st = status --short --branch
	a = add . --verbose
	changes = diff --cached
	ch = diff --cached
	abandon = checkout HEAD -- 
[hub]
	protocol = https
[branch]
	autosetupmerge = always
[branch.master]
	remote = origin
[gui]
	encoding = utf-8
[pull]
	rebase = false
