[Desktop Entry]
Name=Syncthing Tray
Exec="{{ lookPath "syncthingtray" }}"
Comment=Tray application for Syncthing
Icon=syncthingtray
Type=Application
Terminal=false
X-GNOME-Autostart-Delay=0
X-GNOME-Autostart-enabled=true
