<?xml version="1.0" encoding="UTF-8"?>
<!-- vim: set ft=xml ts=2 sw=2: -->
<!DOCTYPE xbel>
<xbel xmlns:kdepriv="http://www.kde.org/kdepriv" xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info" xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks">
  <bookmark href="file://{{ .chezmoi.homedir }}">
    <title>Home ({{ .chezmoi.username }})</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="user-home" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/0</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file://{{ .chezmoi.homedir }}/Desktop">
    <title>Desktop</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="user-desktop" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/1</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file://{{ .chezmoi.homedir }}/Documents">
    <title>Documents</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="folder-documents" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/2</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file://{{ .chezmoi.homedir }}/Downloads">
    <title>Downloads</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="folder-downloads" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/3</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file://{{ .chezmoi.homedir }}/Music">
    <title>Music</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="folder-music" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1608843997/0</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file://{{ .chezmoi.homedir }}/Pictures">
    <title>Pictures</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="folder-pictures" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1608843997/1</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file://{{ .chezmoi.homedir }}/Videos">
    <title>Videos</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="folder-videos" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1608843997/2</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="remote:/">
    <title>Network</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="folder-network" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/4</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="trash:/">
    <title>Trash</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="user-trash" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/5</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <info>
    <metadata owner="http://www.kde.org">
      <GroupState-Places-IsHidden>false</GroupState-Places-IsHidden>
      <GroupState-Remote-IsHidden>false</GroupState-Remote-IsHidden>
      <GroupState-Devices-IsHidden>false</GroupState-Devices-IsHidden>
      <GroupState-RemovableDevices-IsHidden>false</GroupState-RemovableDevices-IsHidden>
      <GroupState-Tags-IsHidden>false</GroupState-Tags-IsHidden>
      <withBaloo>true</withBaloo>
      <GroupState-SearchFor-IsHidden>false</GroupState-SearchFor-IsHidden>
      <GroupState-RecentlySaved-IsHidden>false</GroupState-RecentlySaved-IsHidden>
      <kde_places_version>4</kde_places_version>
    </metadata>
  </info>
  <bookmark href="timeline:/today">
    <title>Modified Today</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="go-jump-today" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/6</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="timeline:/yesterday">
    <title>Modified Yesterday</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:icon name="view-calendar-day" />
      </metadata>
      <metadata owner="http://www.kde.org">
        <ID>1594959123/7</ID>
        <isSystemItem>true</isSystemItem>
      </metadata>
    </info>
  </bookmark>
</xbel>
