[misc]
# https://github.com/topgrade-rs/topgrade/blob/master/config.example.toml

# Ask for `sudo` at the beginning.
pre_sudo = true

# Display the time in step titles.
display_time = true

disable = [
    # I manage `stack` with `ghcup`.
    "stack",
    # I install `uv` with Nix.
    "uv",
    # I install `node` with Nix.
    "node",
    # Topgrade tries to run `nix-env --upgrade`, which somehow wipes my entire
    # Nix profile, and it also tries to run `sudo nix upgrade-nix` without the
    # proper substituters, so it fails to upgrade Lix. Let's just add a custom
    # command to do it ourselves.
    "nix",
]

[commands]
npingler = "npingler update"

# As of Lix 2.94, `nix upgrade-nix` seems broken. :(
# See: https://git.lix.systems/lix-project/lix/issues/1060
#
# lix = """
# sudo nix upgrade-nix \
#   --extra-substituters https://cache.lix.systems \
#   --extra-trusted-public-keys 'cache.lix.systems:aBnZUw8zA7H35Cz2RyKFVs3H4PlGTLawyY5KRbvJR8o='
# """
